@model IEnumerable<BeanScene.Models.Reservation>

<h1 class="reservation-header" style="text-shadow: 4px 4px 8px #CC9E09"; >YOUR RESERVATION HISTORY</h1>

@if (!Model.Any())
{
    <div class="alert alert-info text-center" role="alert">
        <p class="mt-3" style="color: white;">You have no reservation history.</p>
    </div>
}
else
{
    <div class="table-responsive">
        <table class="table reservation-table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Reservation Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Guests</th>
                    <th scope="col">Notes</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var reservation in Model)
                {
                    var rowClass = reservation.Start < DateTime.Now ? "past-reservation" : "upcoming-reservation";

                    <tr class="@rowClass">
                        <td>@reservation.Start.ToString("yyyy-MM-dd")</td>
                        <td>@reservation.Start.ToString("HH:mm")</td>
                        <td>@reservation.Pax</td>
                        <td>@reservation.Notes</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}